@import url(../fonts/inter.css);

.body {
    background-color: #2a2c2f;
}

.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    /*Все что выше надо обдумать*/
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
}





.header {
    display: flex;    
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1184px;
    margin: 28px auto 56px  auto;
}

.header__logo {
    max-width: 176px;
}

.header__lang-link {
    margin: 0 18px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.header__lang-link:last-child {
    text-decoration: none;
    margin-right: 0;
}

.header__lang-link:hover {
    opacity: .8;
    transition: opacity 0.5s;
}





.lead {
    max-width: 984px;
    margin: auto;
}

.lead__title {
    max-width: 720px;
    margin: 56px auto 32px auto;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 720px;
}

.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 640px;
}

.lead__image {
    width: 100%;
    object-fit: cover;
}

.lead__caption {
    margin: 8px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}





.intro {
    max-width: 984px;
    margin: 92px auto 92px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.intro__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    max-width: 690px;
    margin: 40px 0 33px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}
.intro__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.intro__list-value {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}





.photo-grid {
    max-width: 1184px;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}
.photo-grid__item {
    width: 100%;
    object-fit: cover;
}





.places {
    max-width: 984px;
    margin: 92px auto 92px auto;
}

.place {
    max-width: 984px;
    margin: 0 0 72px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
}

.place:last-child {
    margin: 0;
}

.place__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 460px;
}

.place__website {
    margin: 0;
    place-self: end start;
}

.place__url-heading {
    margin: 0 0 12px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #aaa;
}

.place__link {
    max-width: 456px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: .8;
    transition: opacity 0.5s;
}

.place__image {
    margin: 0;
    width: 100%;
}

.place__paragraph {
    max-width: 484px;
    margin: 0 0 26px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}





.cover {
    max-width: 1184px;    
    margin: 0 auto 0 auto;
    position: relative;
    /*width: 100%;*/
}

.cover__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.cover__title {
    margin: 0 auto 32px auto;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

.cover__subtitle {
    margin: 0 auto 0 auto;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.cover__overlay {
    width: 1184px;
    height: 740px;
    background: #2a2c2f;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
}

.cover__overlay:hover {
    opacity: .8;
    transition: opacity 0.5s;
    background: #2a2c2f;
}

.cover__background {    
    width: 1184px;
    height: 740px;
    background-image: url(../images/cover-trains.jpg);
    background-size: 100% 740px;
}





.footer {
    max-width: 1184px;
    margin: 92px auto 24px auto;
    display: flex;    
    justify-content: space-between;
}

.footer__link {
    margin: 0 18px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;    
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}





@media screen and (max-width: 425px) {
    .page {
        background-color: #0066ff69;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
    .page {
        background-color: #ff000056;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .page {
        background-color: #00ff4c48;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .page {
        background-color: #ff000d60;
    }
}
@media screen and (min-width: 1280px) {
    .page {
        background-color: #2a2c2f;;
    }
}
